.bread {
  background-image: url("./page-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px 0;
}

.bread h1 {
  text-align: center;
  color: rgb(214, 200, 200);
  padding: 20px 0px;
  font-size: 30px;
}
.bx_shadow {
  box-shadow: 1px 2px 24px 2px rgb(173, 172, 185);
  padding: 30px;
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.list li {
  margin-bottom: 20px;
}
.list a {
  font-weight: 600;
  text-decoration: none;
}
textarea {
  height: 120px;
}

.custom_btn {
  transition: all 0.3s ease-in-out;
  padding: 12px 20px;
  font-size: 1.2rem;
  border-radius: 50px;
  background-color: rgb(136, 145, 223);
  color: rgb(8, 6, 6);
}

.custom_btn:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 123, 255, 0.3);
}
.shadow {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.shadow:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}
